body {
  background-color: #0d0d0d;
  font-family: Avenir, Montserrat, source-sans-pro, sans-serif;
  font-size: 60px;
  font-weight: 600;
  color: #e8e8e8;
}

.center {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
